{
    san_switches: {
        S01-switch-name01-fabA: {
            type: 'brocade_fos',
            host: ip-addr,
            username: 'admin',
            password: 'CHANGE_SWITCH_PASSWORD'
        },
        S01-switch-name02-fabB: {
            type: 'brocade_fos',
            host: ip-addr,
            username: 'admin',
            password: 'CHANGE_SWITCH_PASSWORD'
        },
    },
    arrays: [
        {
            name: '3par_lab',
            site: 'S01',
            type: '3par',
            host: 'ip-addr',
            username: '3paruser',
            password: 'CHANGE_3PAR_PASSWORD'
        },
    ]
}
